
.card{
    margin: 5px;
    transition: background-color 0.5s
}

.threeup{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

@media only screen and (max-width:500px){
    .threeup{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
}

.angle1{
    transform: rotate(1deg)
}

.angle2{
    transform: rotate(-0.8deg)
}

.angle3{
    transform: rotate(1.2deg)
}

#author{
    font-size:10px;
}
#quote{
    font-size:20px;  
}

.incorrect{
    background-color: tomato !important;
}
.correct{
    background-color: green !important;
}

.master{
    opacity: 0;
    transition: all 0.5s
}