.main{
    float:center;
    margin:auto;
    padding:20px;
    border-radius: 0px;
}
/*
Fixes header jumbotron styling
*/
.header{
    background-color: #0C5C98;
    color: white;
    border-radius:0px;
    padding-top:30px;
    padding-bottom:30px;
}
.header span{
    font-size:40px;
}
@media only screen and (max-width: 550px) {
    .header span{
        font-size:30px;
    }
}
/*
Wrapping grid
*/
article{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap:5px;
}