.main{
    float:center;
    margin:auto;
    padding:20px;
    border-radius: 0px;
}
/*
Fixes header jumbotron styling
*/
.header{
    background-color: #0C5C98;
    color: white;
    border-radius:0px;
    padding-top:30px;
    padding-bottom:30px;
}
.header span{
    font-size:40px;
}
@media only screen and (max-width: 550px) {
    .header span{
        font-size:30px;
    }
}
/*
Wrapping grid
*/
article{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap:5px;
}

.card{
    box-shadow:2px 2px 5px #CCC;
    padding: 20px;
    border-radius: 0px;
}

/*
Dark mode
*/
@media (prefers-color-scheme: dark) {
    .header{
        background-color: rgb(8, 56, 92);
        color: #E0E0E0
    }
    body{
        background-color: #323232;
    }
    .card{
        background-color: #444;
        box-shadow:2px 2px 5px #222;
    }
    .breadcrumb{
        background-color: #444;
    }
    .header, body, .card{
        color: #E0E0E0
    }
    a{
        color:rgb(83, 158, 250)
    }
    a:hover{
        color:rgb(0, 115, 255) 
    }
}