.view {
    display: grid;
    grid-template-columns: 1fr 280px;
    overflow: hidden;
}

/* Portrait phone mode */
@media only screen and (max-width: 700px) {
    .view {
        grid-template-columns: 1fr;
    }

    .controls {
        padding: 100px;
    }
}

.main-view {
    display: grid;
    grid-template-rows: 50px 1fr;
    width: 100%;
    height: 100%;
}

.controls {
    background-color: #ECECEC;
    padding: 10px;
    overflow: scroll;
}

#render {
    overflow: scroll;
    background-color: #ababab;
    height: 100%;
}

#image {
    object-fit: contain;
    overflow: hidden;
    max-height: 100%;
    vertical-align: middle;
    max-width: 100%;
}

#clip-bounds {
    overflow: hidden;
}

.center {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input[type=number] {
    width: 100%;
}

adjustment {
    display: grid;
    grid-template-columns: 1fr 60px;
}

.barheader{
    height:100%;
}

.toolbar{
    height:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, 30px);
}

.title{
    font-size:20px;
    text-align: center;
    line-height:48px;
}

.svgfilter{
    width:0px;
    height:0px;
    position:absolute
}

.sidebtn, .generalbtn{
    background-color: rgb(201, 201, 201);
    border: none;  
}

.sidebtn{
    width:26px;
    height:26px;
}

#delbtn.sidebtn{
    width:48px;
}

.toolbar button{
    border: none;
    background-color: transparent;
    height: 100%;
}
.toolbar button:active{
    color:tomato;
}
.toolbar button:hover{
    color:gray;
}

@media (prefers-color-scheme: dark){
    .controls{
        background-color: #464a4c;
    }
    .sidebtn, .generalbtn, input, #delbtn{
        background-color: #333;
        color: #BBB 
    }
    .sidebtn:hover, .generalbtn:hover{
        background-color: #555;
    }
    .toolbar button{
        color: #BBB
    }
    .toolbar button:hover{
        color:black;
    }
    #render{
        background-color: rgb(53, 53, 53);
    }
}