*{
    font-family: system-ui, sans-serif;
}

#compassImg, #headingImg{
    width: 100%;
    left:0;
    top:0;
    position:relative;
}

#simpleMap{
    width:100%;
    height:400px;
    background-color: green;
    position: relative; /* This allows the dots to be absolute-positioned*/
    overflow: hidden;
}

body{
    margin:0;
}

.dot{
    --s: 24;
    height: var(--s);
    width: var(--s);
    background-color: yellow;
    border-radius: 50%;
    position:absolute;
    transform: translate( calc(var(--s) * -0.5px), calc(var(--s) * -0.5px))
}

.newest{
    background-color: blue
}

.mainview{
    display:grid;
    grid-template-rows: 1fr 60px;
    width:100%;
    height:100%;
    overflow:hidden;
}

button{
    width:100%;
}

.btnrow{
    padding: 10px;
}