bar{
    height: 20px;
    display: block;
    width: 100%;
    background-color:green;
    position:relative;
}

innerbar{
    height: 20px;
    background-color:red;
    width: 100%;
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
}


.stretcher{
    text-align:justify;
  }
  
.stretcherSpan{
    width:100%;
    height:1em;
    display:inline-block;
}

@media only screen and (max-width: 540px) {
    .stretcher{
    font-size:8px;
    }
}
@media only screen and (max-width: 237px) {
    .stretcher{
    font-size:5px;
    }
}